<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChronoCraft</title>
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/chrono.jpg">

    
    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mylogin.css">

<style>
    .zoom-container {
            position: relative;
            overflow: hidden;
        }
        .zoom-container img {
            transition: transform 0.5s ease;
        }
        .zoom-container:hover img {
            transform: scale(1.5);
        }
    
</style>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@panzoom/panzoom@4.2.2/dist/panzoom.min.css">
<script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
    <script defer src="/myjsscript/vaidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@panzoom/panzoom@4.2.2/dist/panzoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/home"><img style="width: 10rem;" src="/images/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/shop">shop</a></li>
                                    <li class="hot"><a href="#">Category</a>
                                        <ul class="submenu">
                                            <li><a href="/category/Analog">Analog</a></li>
                                            <li><a href="/category/Digital">Digital</a></li>
                                            <li><a href="/category/Smartwatch">SmartWatch</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            
                            <ul>
                                    
                                <li>
                                    <a href="/login" style="color: black;">Login</a>
                                    <!-- <div class="nav-search search-switch">
                                        <img src="/images/myimages/search.png" style="height: 20px;width: 20px;margin-left: 15px;"></span>
                                    </div> -->
                                </li>
                                <li> <a href="/"><img src="/images/myimages/user.png" style="height: 20px;width: 20px;margin-left: 15px;"></span></a>
                                
                                </li>
                                
                                </li>
                                <li><a href="/"><img src="/images/myimages/grocery-store.png" style="height: 20px;width: 20px;margin-left: 15px;"></span></a> </li>
                                <li> <a href="/logout"><img src="/images/myimages/turn-off.png" style="height: 20px;width: 20px;margin-left: 15px;"></span></a>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .main_product_img img {
                max-width: 100%;
                height: auto;
            }
            .product_thumbnails img {
                width: 100px;
                margin: 5px;
                cursor: pointer;
            }

        
        </style>

         
    </header>
    
    <script src="/path/to/jquery.min.js"></script>
    <script src="/path/to/jquery.magnific-popup.min.js"></script>