<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChronoCraft</title>
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/chrono.jpg">

    
    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mylogin.css">
    <link href="/eshop/css/style.css" rel="stylesheet">

<style>
    .zoom-container {
            position: relative;
            overflow: hidden;
        }
        .zoom-container img {
            transition: transform 0.5s ease;
        }
        .zoom-container:hover img {
            transform: scale(1.5);
        }
    
</style>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@panzoom/panzoom@4.2.2/dist/panzoom.min.css">
<script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
    <script defer src="/myjsscript/vaidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@panzoom/panzoom@4.2.2/dist/panzoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <header>
        <!-- Header Start -->
        <div class="container-fluid">
        <div class="row  py-2 px-xl-5">
           
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/home" class="text-decoration-none">
                    <img src="/images/logo/logo.png" alt="" style="width: 18rem;">
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                
                
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                       
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link">Home</a>
                            <a href="/shop" class="nav-item nav-link">Shop</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/category/Analog" class="dropdown-item">Analog</a>
                                    <a href="/category/Digital" class="dropdown-item">Digital</a>
                                    <a href="/category/SmartWatch" class="dropdown-item">SmartWatch</a>
                                </div>
                            </div>
                            <a href="/contact-us" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/login" class="nav-item nav-link">Login</a>
                            <a href="/register" class="nav-item nav-link">Register</a>
                            <a href="/logout" class="nav-item nav-link">Logout</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

        <style>
            .main_product_img img {
                max-width: 100%;
                height: auto;
            }
            .product_thumbnails img {
                width: 100px;
                margin: 5px;
                cursor: pointer;
            }

        
        </style>

         
    </header>
    
    <script src="/path/to/jquery.min.js"></script>
    <script src="/path/to/jquery.magnific-popup.min.js"></script>